###**Extracting features of 2020 movies from Wikipedia**

In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

C:\Users\Usuario\AppData\Local\Temp\ipykernel_5104\2803005693.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df1 = pd.read_html(str(tables[0]))[0]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_5104\2803005693.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_html(str(tables[1]))[0]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_5104\2803005693.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df3 = pd.read_html(str(tables[2]))[0]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_5104\2803005693.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [6]:
df = df1._append(df2._append(df3._append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,J A N U A R Y,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,J A N U A R Y,10,Like a Boss,Paramount Pictures / Artists First,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,J A N U A R Y,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,J A N U A R Y,10,Inherit the Viper,Lionsgate / Barry Films / Tycor International ...,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
...,...,...,...,...,...,...
270,D E C E M B E R,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,[243]
271,D E C E M B E R,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[244]
272,D E C E M B E R,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[245]
273,D E C E M B E R,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[246]
274,D E C E M B E R,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[247]

In [7]:
df_2020 = df[['Title','Cast and crew']]

In [8]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
270       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
271      News of the World  Paul Greengrass (director/screenplay); Luke Da...
272  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
273  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
274      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[275 rows x 2 columns]

In [9]:
#pip install tmdbv3api

In [10]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '48dec75240074fd3c4d726b02b2c11d0'

In [15]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " "
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value

In [16]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

TypeError: attribute name must be string, not 'int'

In [ ]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Crime Thriller Drama
..                     ...  ...                                     ...
269       We Can Be Heroes  ...            Action Fantasy Family Comedy
270      News of the World  ...                       Adventure Western
271  One Night in Miami...  ...                                   Drama
272  Promising Young Woman  ...                    Thriller Crime Drama
273      Pieces of a Woman  ...                                   Drama

[274 rows x 3 columns]

In [ ]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [ ]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
269       We Can Be Heroes  ...    YaYa Gosselin
270      News of the World  ...              NaN
271  One Night in Miami...  ...      Aldis Hodge
272  Promising Young Woman  ...      Alison Brie
273      Pieces of a Woman  ...     Molly Parker

[274 rows x 7 columns]

In [ ]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [ ]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
269  Robert Rodriguez  ...       We Can Be Heroes
270   Paul Greengrass  ...      News of the World
271       Regina King  ...  One Night in Miami...
272   Emerald Fennell  ...  Promising Young Woman
273  Kornél Mundruczó  ...      Pieces of a Woman

[274 rows x 6 columns]

In [ ]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [ ]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      4
actor_3_name     27
genres            1
movie_title       0
comb             28
dtype: int64

In [ ]:
new_df20 = new_df20.dropna(how='any')

In [ ]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [ ]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
268       Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
269  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
271       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
272   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
273  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[246 rows x 7 columns]

In [ ]:
old_df = pd.read_csv('final_data.csv')

In [ ]:
old_df

              director_name  ...                                               comb
0             James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1            Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3         Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4               Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                     ...  ...                                                ...
5864           Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5865             Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5866  Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5867        Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...
5868           Waymon Boone  ...  Mena Suvari Kevin Pollak unknown Waymon Boone ...

[5869 rows x 7 columns]

In [ ]:
final_df = old_df._append(new_df20,ignore_index=True)

In [ ]:
final_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
6110        Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6111   Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6112        Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6113    Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
6114   Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[6115 rows x 7 columns]

In [ ]:
final_df.to_csv('main_data.csv',index=False)